body {
    background-color: #3f89ff;
}
html{
   font-family:'Open Sans';
}
h1, h2, p{
   text-align:center;
   color:black; 
}
p {font-size:18px}
#p_readyToStart{
    transition: opacity 0.5s;
}
#btn_start{
    width: 250px;
    height: 100px;
    font-size: 50px;
    border: 4px solid #aaa;
    background-color: rgb(255, 255, 255);
    outline: none;
    transition: all 0.2s, opacity 0.5s;
}
#btn_start:focus{
    border-color: #888;
    background-color: #fafafa
}
#btn_start:hover{
    border-color: #888;
    cursor: pointer;    
    background-color: #fafafa
}
#btn_start:active{
    border-color: #555;
    background-color: #f4f4f4;
}
#frame_div{
    display: none;
}
#frame{
    border: 2px solid #000;
    position: absolute;
    height: 70%;
    margin-left: 60px;
    width: calc(100% - 120px);
    background: white;
}
