html{
    font-family:'Open Sans';
    height: 100%;
    background: blue;
    background: linear-gradient(#9090fa, #2952ff);
}
ul{
        list-style-position: inside;
}
h1{
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}
h1, h2{
   text-align:center;
}
p {
    font-size:18px;
    font-weight: 300;
}
#p_readyToStart{
    text-align: center;
    transition: opacity 0.5s;
}
#btn_start{
    width: 250px;
    height: 100px;
    font-size: 50px;
    border: 4px solid #aaa;
    background-color: rgb(255, 255, 255);
    outline: none;
    transition: all 0.2s, opacity 0.5s;
}
#btn_start:focus{
    border-color: #888;
    background-color: #fafafa
}
#btn_start:hover{
    border-color: #888;
    cursor: pointer;    
    background-color: #fafafa
}
#btn_start:active{
    border-color: #555;
    background-color: #f4f4f4;
}
#frame_div{
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in 0.15s;
}
#frame{
    border: 2px solid #000;
    position: absolute;
    height: 70%;
    margin-left: 60px;
    width: calc(100% - 120px);
    background: white;
    overflow: hidden;
}
#contentFrame{
    width: calc(100% - 300px);
    height: calc(100% - 70px);
    display: inline-block;
    overflow: hidden;
    overflow-y: auto;
}
#contentDesc{
    width: calc(100% - 300px);
    height: 68px;
    background: linear-gradient(#d2faff, #c5e0ff);
    display: inline-block;
    border-top: 2px solid #ddd;
}
#p_desc{
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}
.contentItem{
    transition: opacity 0.4s;
}
#video{
    margin-top: calc(50% - 200px);
}
#menu{
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    float: right;
    width: 298px;
    height: 100%;
    border-left: 2px solid #ddd;
    background: linear-gradient(#f5f5ff,#d3e9ff);
    line-height: 0.9;
}
.button_menu{
    cursor: pointer;
    transition: all 0.2s;
}
.button_menu:hover{
    color: #1e90ff;
}
.button_menu:active{
    color: #0079ef;
}
#countToTen{
    width: 400px;
    height: 400px;
    background: radial-gradient(#7171e6 0%, white 65%);
    display: inline-block;
}
#countToTen p{
    font-family: "Comfortaa", "Open Sans", sans-serif;
    text-align: center;
    font-size: 100px;
    line-height: 0;
    margin-top: 200px;;
    transition: all 1s;
}
#cuteImage{
    width: 100%;
    height: 100%;
}