body {
    background-color: #3f89ff;
}
h1{text-align:center;font-family:'Open Sans';color:black;}
h2{text-align:center;font-family:'Open Sans';color:black;}
p {text-align:center;font-family:'Open Sans';font-size:18px;font-style:normal;font-weight:normal;color:black;}
#btn_start{
    width: 250px;
    height: 100px;
    font-size: 50px;
    border: 1px solid #aaa;
    background-color: rgb(255, 255, 255);
    outline: none;
    transition: all 0.2s, opacity 1s;
}
#btn_start:focus{
    border-color: #888;
    background-color: #fafafa
}
#btn_start:hover{
    border-color: #888;
    cursor: pointer;
    background-color: #fafafa
}
#btn_start:active{
    border-color: #555;
    background-color: #f4f4f4;
}
#frame_div{
    display: none;
}
#frame{
    border: 1px solid gray;
    position: absolute;
    height: 70%;
    margin-left: 60px;
    width: calc(100% - 120px);
}