html{
    font-family:'Open Sans';
    height: 100%;
    background: blue;
    background: linear-gradient(#a2a2f8, #738efd, #a2a2f8);
    background-size: cover;
}
ul{
    list-style-position: inside;
}
h1{
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
}
h1, h2{
   text-align:center;
}
p {
    font-size:18px;
    font-weight: 300;
}
#img_icon{
    text-align: center;
}
#p_readyToStart{
    text-align: center;
    transition: opacity 0.5s;
}
#btn_start{
    width: 250px;
    height: 100px;
    font-size: 50px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: rgb(218, 237, 255);
    outline: none;
    transition: all 0.2s, opacity 0.5s;
    font-family: "Open Sans", sans-serif;
}
#btn_start:focus{
    border-color: navy;
}
#btn_start:hover{
    border-color: #888;
    cursor: pointer;    
    background-color: rgb(209, 228, 253);
}
#btn_start:active{
    border-color: #555;
    background-color: rgb(185, 215, 255);
    border-width: 1px;
}
#frame_div{
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in 0.15s;
}
#frame{
    border-radius: 8px;
    border: 2px solid #000;
    position: absolute;
    height: 70%;
    margin-left: 60px;
    width: calc(100% - 120px);
    background: white;
    overflow: hidden;
}
#contentFrame{
    width: calc(100% - 300px);
    height: calc(100% - 70px);
    display: inline-block;
    overflow: hidden;
    overflow-y: hidden;
}
#contentDesc{
    position: relative;
    width: calc(100% - 300px);
    z-index: 2;
    top: -100px;
    height: 168px;
    background: linear-gradient(#cbe6ff,#d3e9ff);
    display: inline-block;
    border-top: 2px solid #ddd;
    transition: all 0.4s;
}
#p_desc{
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}
.contentItem{
    transition: opacity 0.4s;
}
#video{
    margin-top: calc(50% - 200px);
}
#menu{
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    float: right;
    width: 298px;
    height: 100%;
    border-left: 2px solid #ddd;
    background: linear-gradient(#f5f5ff,#d3e9ff);
    line-height: 0.9;
}
.button_menu{
    cursor: pointer;
    transition: all 0.2s;
}
.button_menu:hover{
    color: #1e90ff;
}
.button_menu:active{
    color: #0079ef;
}
#countToTen{
    width: 400px;
    height: 400px;
    background: radial-gradient(#7171e6 0%, white 65%);
    display: inline-block;
}
#countToTen p{
    font-family: "Comfortaa", "Open Sans", sans-serif;
    text-align: center;
    font-size: 100px;
    line-height: 0;
    margin-top: 200px;;
    transition: all 1s;
}
#cuteImage{
    width: 100%;
    height: 100%;
}
#funFacts{
    transition: opacity 0.5s;
}
#teamPic{
    border-radius: 4px;
}
#introVideo{
    border: 1px solid black;
}
#p_altDesc{
    padding-left: 5px;
}